.menuButton {
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70rem;
  height: 80px;
  border: 1px solid #000;
  border-radius: 15px;
}